@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="nav-page">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="~/" class="navbar-brand">
            <img src="~/icon.png" class="icon-banner">
            IdentityServer4
        </a>
         <ul class="ml-auto">
             <li class="nav navbar-nav nav-link " >
                 <partial name="_LoginPartial" />
              </li>
        </ul>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">@name <b class="caret"></b></a>
                    
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                    </div>
              </li>
            </ul>
        }

        <div class="col-md-9">
                   
                  
                      @if (!User.Identity.IsAuthenticated)
                    {
                       @* <div class=" text-center float-right" >
                    <p class=" filterButton" style="padding-top: 5px; text-decoration: none">
                    <a class="text-center"  style="text-decoration:none;" asp-controller="ProductPanel" asp-action="AddProduct">Login</a>
                     </p>
                         </div>*@
                    }

                         @if (User.Identity.IsAuthenticated)
                    {
                        <div class="text-center float-right" >
                    <p class=" filterButton " style="padding-top: 5px" >
                    <a class="text-center" asp-controller="ProductPanel" asp-action="Logout">Logout</a>
                     </p>
                        </div>
                    }

                </div>
    
    </nav>
</div>
